# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Image files or documents
*.bmp
*.jpg
*.eps
*.tif
*.mat
*.asv
WMIN-project/error_analysis/old/error_decoding.m
WMIN-project/error_analysis/old/error_decoding_bayes.m
WMIN-project/error_analysis/old/error_decoding_c_vs_e_plot.m
WMIN-project/error_analysis/old/error_decoding_bayes_btw_pvsom.m
WMIN-project/error_analysis/old/error_decoding_bayes_plot.m
WMIN-project/error_analysis/old/error_decoding_lda_btw_pvsom.m
classical-conditioning-task/cell_classification/temp.m
WMIN-project/error_analysis/old/error_decoding_lda.m
WMIN-project/error_analysis/old/error_decoding_lda_plot.m
WMIN-project/error_analysis/old/error_decoding_plot.m
WMIN-project/error_analysis/old/error_decoding_template_matching.m
WMIN-project/error_analysis/old/error_decoding_template_matching_btw_pvsom.m
WMIN-project/error_analysis/old/error_decoding_template_matching_plot.m
